body {
 text-align: center;
 font-family: sans-serif;
 background-color: #D2D2D2;
 color: #0062DD;
}

h1 {
  font-size: 400%;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover, a:active {
    color: black;
}

ul {
  width: 90%;
}

li {
  display: inline-block;
  vertical-align: top;
  color: grey;
  width: 250px;
  padding: 10px;
  margin-bottom: 12px;
  font-style: italic;
}

input {
  height: 38px;
  width: 345px;
  color: #0062DD;
  font-size: 120%;
  font-weight: lighter;
  border-radius: 3px;
  border-style: hidden;
  margin-bottom: 50px;
}

.image:hover {
  border: solid;
  border-color: grey;
  border-radius: 2px;
}

.pink {
  color: #FF0084;
}

.searching {
  padding-left: 25px;
  color: #2196F3;
}
