<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="flickrApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flickr Photo Stream</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
</head>
<body ng-controller="PhotoListCtrl" ng-init="getPhotoList()">
  <h1><span class="pink">flickr</span>PhotoStream</h1>

  <form  class="search-box" ng-submit="searchTags(field)">
    <input id="search" class="searching" type="text" placeholder="Search..." ng-model="field"/>
    <input id="submit-search" class="hidden" type="submit"/>
  </form>

  <ul class="photos">
    <li ng-repeat="photo in photos">
      <img src="{{photo.media.m}}" class="image" ng-click="showDetails = ! showDetails">
      <div ng-show="showDetails" class"extra-details">
        <a href="{{photo.link}}" class="title">{{photo.title}}</a> by <a class="author" href="https://flickr.com/people/{{photo.author_id}}">{{photo.author_name}}</a>
        <p class="tags">{{photo.tags}}</p>
      </div>
    </li>
  </ul>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="services/dataService.js"></script>
  <script src="controllers/photoListCtrl.js"></script>
</body>
</html>
